
h2{

    color:red;
    text-align: center;
}
h4{

    background-color: lightseagreen;
    color:white;
    line-height: 1cm;
    border-style: solid;
    border-color:red blue pink yellow;
    border-color:teal;
    border-width: medium;
}
h5{
    
    background-color: lightseagreen;
    color:white;
    line-height: 1cm;
    border-style: solid;
    border-color:red blue pink yellow;
    border-color:teal;
    border-width: medium;
}
h3{
    
    background-color: lightseagreen;
    color:white;
    line-height: 1cm;
    border-style: solid;
    border-color:red blue pink yellow;
    border-color:teal;
    border-width: medium;

}
