#img1{
    margin-left:0px;
    border-radius:px;
    margin:10px;
    margin-top:0%;
    padding:0px;

}
#img2{
    margin:5px;
    position: absolute;
    top:0%;
    right:-1%;
    transform: translate(-30%,-30);
    height: 200px;
    width: 200px;
}
#img3{
  
    position: absolute;
    top: 27%;
    left:18%;
    transform: translate(-20%,-50);
    height: 80px;
    width:110px;

}

h5{
   margin-top: -250px;
    font-size: 25px;
    text-align: center;
    color:darkblue;

}
h3{
    margin-top:-35px;
    font-size:35px;;
    text-align: center;
    color:orange;

}
h4{
 
    margin-top:-30px;
    text-align: center;
    color:darkblue;
}
h6{
    color: red;
    margin-top:-10px;
     text-align:center;
     font-size: 20px;
}

h2{

    font-size:25px;
    margin-top:-10px;
    text-align: center;
    color: blueviolet;
}

h1{
    margin: 15px;
    margin-bottom: 10;
    font-size: 60px;
    color:darkblue;
}

p{
    text-align: center;
    color:blue;
    font-size: 30px;

}

.banner{
    width: 1450px;
    height: 600px;
    position: relative;
    overflow: hidden;
    border: solid 10px;

}
.slider{
    width: 100%;
    height: 100%;
    position: relative;
    top:0%;

}
.sliderimg{
    width: 100%;
    height: 100%;

}
.overlay{
    
    
    width:100%;
    height:100%;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    position: absolute;
    top: 0%;

}


.infor-detalis{

text-align: center;    
border-radius: 10px;
background:rgb(0, 0, 0);
color: green;
width: 400px;
padding: 4px;
margin-left: 500px;
margin-top: 150px;
}

label{
    width: 100px;
    display: inline-block;
    margin: 20px;
}


